.esqcima{
    background-color:red;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
    position: absolute
}
.esqbaixo{
    background-color:green;
    width: 150px;
    height: 150px;
    left: 0;
    bottom: 0;
    position: absolute
}
.dircima{
    background-color:yellow;
    width: 150px;
    height: 150px;
    right: 0;
    top: 0;
    position: absolute
}
.dirbaixo{
    background-color:blue;
    width: 150px;
    height: 150px;
    right: 0;
    bottom: 0; 
    position: absolute;    
}
