body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, rgb(190, 121, 255), violet);
}

.menu{
    display: flex;
    flex-direction: row;
    width: 79vw;
    height: 4%;
    background-color: black;
    margin-left: 10vw;
    border-radius: 5px;
    margin-bottom: 20px;
}

.atual{
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 1vw;
    color: violet;
}

.container{
    position: relative;
    align-items: center;
    width: 100vw;
    height: 110vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
}

.projeto{
    width: 39vw;
    height: 32vh;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 2vh;
    position: relative;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
}

.projesq{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    width: 50vw;
    height: 110vh;
}

.projdir{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 110vh;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: violet;
    margin-left: 1vw;
    font-size: large;
    font-weight: bold;
}

hr{
    position: absolute;
    bottom: 30vh;
    border-color: blue;
    
}