header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 45vh;
}

.hello, .city{
    margin-left: 5%;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.apresent{
    position: absolute;
    
    max-height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 8vh 8vh;
}


.ap1, .ap2, .ap3{
    margin-left: 5%;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}

.city{
    position: absolute;
    bottom: 50px;
}

#redes{
    display: flex;
    width: 100vw;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
}

.redes{
    bottom: 25px;
    color: black;
    margin-left: 5%;
}

hr{
    border-color: rgba(173, 216, 230, 0.127);
    width: 100;
}

.educ{
    text-align: center;
}

.underline{
    border-color: black;
    width: 5%;
}

.education{
    display: flex;
    width: 100vw;
    height: 55vh;

}
.tecnico{
    width: 50vw;
    margin-left: 5%;
}

.ifal{
    font-size: small;
}

.desc1{
    width: 50vw;
}