#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 23%,);
    grid-template-rows: repeat(auto-fity, 25%);
    gap: 5px;
}


#um{
background-color: aqua;
}

#dois{
background-color: blue;
}

#tres{
background-color: blueviolet;
}

#quatro{
background-color: brown;
}

#cinco{
background-color: black;
}

#seis{
background-color: greenyellow;
}

#sete{
background-color: gray;
}

#oito{
background-color: purple;
}
