.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3) , 1fr;
    grid-template-rows: repeat(4) , 1fr ;
    grid-template-areas: "one two two" 
    "three two two" 
    "three void four" 
    "three five six";
}


div{
    border: 1px;
    margin: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0.3);
    border-radius: 5px;
    color: rgb(110, 75, 9);
}

#One{
    grid-area: one;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
}
#Two{
    grid-area: two;
}
#Three{
    grid-area: three;
}
#Four{
    grid-area: four;
}
#Five{
    grid-area: five;
}
#Six{
    grid-area: six;
}
