.container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: "one two two" 
    "three two two" 
    "three four four" 
    "three five six";
}


div{
    width: 100%;
    height: 100%;
}
#One{
    background-color: purple;
    grid-area: one;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
}
#Two{
    background-color: rgba(255, 255, 0, 50%);
    grid-area: two;
}
#Three{
    background-color: gray;
    grid-area: three;
}
#Four{
    background-color: black;
    grid-area: four;
}
#Five{
    background-color: aqua;
    grid-area: five;
}
#Six{
    background-color: green;
    grid-area: six;
}
