.linktop{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
    position: absolute;
    top: 20px;
    font-size: small;
}
#gmail{
    right: 30%;
}
#imagens{
    right: 23%;
}

.linktop:hover{
    text-decoration: underline;
}
.linktop:visited{
    text-decoration: none
}

button{
    background-color: ;
}
