.linktop{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
    position: absolute;
    top: 22px;
    font-size: small;
}
.material-symbols-outlined{
    position: absolute;
    top: 18px;
    right: 70px;
}
#gmail{
    right: 185px;
}
#imagens{
    right: 120px;
}

.linktop:hover{
    text-decoration: underline;
}
.linktop:visited{
    text-decoration:underline;
}

#logo{
   position: relative;
   /* top:257px;
   right: 308px; */
   align-self: center;
}

#barra{

}
button{
    color:aqua;
}
